#Hosts
S
T
# Routers
R1
#Links (end1, end2, capacity, delay, buffer size)
S R1 12500000 10 512000
R1 T 12500000 10 512000
#Flows (source, destination, size, start time, routing algorithm)
S T 167772160 0 none none
